<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-7">
      <div class="row new_question_title_box">
        <div class="col-sm-2"><%= f.label :タイトル %></div>
        <div class="col-sm-10 pull-right"><%= f.text_field :title, class: "form-control" %></div>
      </div>
      <div class="row new_question_box">
        <%= f.text_area :content, class: "form-control", rows: 10 %>
      </div>
      <div class="row new_tag_box">
        <div class="admin-questions">
          <%= f.label :tag_list, "タグ(カンマ区切り)"%>
        <ul id="question-tags">     
        </ul>
      </div>
    </div>
    <div class="row new_question_submit_button">
      <%= f.submit "質問を投稿する", class: "btn submit" %>
    </div>
</div>
<% end %>
