<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="row question_title">
  <h3><%= @question.title %></h3>
</div>

<div class="row">
  <div class="col-sm-9">
    <class="row answer-show">
      <div class="col-sm-1">
        <%= render partial: 'star', locals: { question: @question } %>
      </div>

      <div class="col-sm-11">
        <%= @question.content %>  
        <%= @question.user_id %>
        <%= render partial: 'tags', locals: { tags: @question.tags} %>
        <%= render partial: 'answers/index', locals: { answers: @answers, question: @question } %>
        <%= render partial: 'answers/form', locals: { answer: @answer, question: @question } %>

       <%= link_to 'Edit', edit_question_path(@question) %> |
       <%= link_to 'Back', questions_path %>
      </div>
    </div>

  <div class="col-sm-3">
    <p>質問を投稿 日時</p>
  </div>
</div>