<h1><%= @user.name %>のページ</h1>

<p>ID：<%= @user.id %><p>
<p>名前：<%= @user.name %><p>
<p>メールアドレス：<%= @user.email %><p>
<p>貢献度：<%= @contribution_point %><p>

<br>

<h4>質問（<%= question_count(@user) %>）</h4>
<% unless @questions.blank? %>
  <% @questions.each do |question| %>
    <ul>
      <li><%= link_to question.title, question %></li>
    </ul>
  <% end %>
<% end %>

<br>

<h4>回答（<%= answer_count(@user) %>）</h4>
<% unless @answers.blank? %>
  <% @answers.each do |answer| %>
    <ul>
      <li><%= link_to answer.question.title, answer.question %></li>
    </ul>
  <% end %>
<% end %>


<div class="row favorite_count"><%= @favorite_questions.count %>件のお気に入り</div>
<div class="row">
  <%= render partial: 'favorite_questions', locals: { questions: @favorite_questions} %>
</div>
