<div class="row header">
  <div class="col-sm-3 pull-left">
    <%= image_tag 'stackoverflow.png', class: "hlogo" %>
  </div>

  <div class="col-sm-4 pull-right">
    <div class="btn-group">
    	<div class="form-inline">
          <%= link_to "質問", root_path, class: 'btn btn-default'%>
          <%= link_to "タグ", tags_path, class: 'btn btn-default'%>
          <%= link_to "ユーザー", users_path, class: 'btn btn-default'%>
          <%= link_to "質問する", new_question_path, class: 'btn btn-default'%>
        </div>
    </div>
  </div>
</div>
