<!DOCTYPE html>
<html>
<head>
  <title>Dive23</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <div>
        <%= link_to "stack overflow", root_path %>
      </div>
    </nav>
  </header>

<%= yield %>

</body>
</html>
